* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondo-producto-pared-negro-oscuro-liso.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

@media (min-width: 360px) {

    /* Pagina principal */
    /* Juego destacado */
    #juego-destacado {
        height: max-content;
        width: 95%;
        background-color: rgba(255, 255, 255, 35%);
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        border-radius: 25px;
    }

    #img-destacada {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    #img-destacada img {
        height: 350px;
    }

    #descripcion-destacada {
        padding: 15px;
        width: 100%;
        text-align: center;
    }

    #descripcion-destacada button {
        width: 150px;
        height: 50px;
        background-color: transparent;
        border: 2px black solid;
        border-radius: 25px;
    }

    #descripcion-destacada button:hover {
        background-color: rgba(255, 255, 255, 50%);
        border: 1px black solid;
    }

    /* Juego destacado */

    /* Pagina principal */
}

@media (min-width: 768px) {

    /* Pagina principal */
    /* Juego destacado */
    #juego-destacado {
        height: 50vh;
        display: flex;
        flex-direction: row;
    }

    #img-destacada {
        align-items: center;
        width: 100%;
    }

    #img-destacada img {
        height: 75%;
    }

    #descripcion-destacada {
        padding: 45px;
    }

    #descripcion-destacada h2,
    #descripcion-destacada h5,
    #descripcion-destacada p {
        margin-top: 20px;
    }

    #descripcion-destacada button {
        position: absolute;
        right: 10%;
        bottom: 54%;
    }

    /* Juego destacado */
    /* Pagina principal */
}

@media (min-width: 1200px) {

    /* Pagina principal */
    /* Juego destacado */
    #juego-destacado {
        height: 80vh;
        display: flex;
        flex-direction: row;
    }

    #img-destacada {
        align-items: center;
        width: 65%;
        margin-top: 0;
    }

    #img-destacada img {
        height: 85%;
    }

    #descripcion-destacada {
        padding: 15px;
    }

    #descripcion-destacada h2,
    #descripcion-destacada h5,
    #descripcion-destacada p {
        margin-top: 15px;
    }

    #descripcion-destacada button {
        right: 10%;
        bottom: 22.5%;
    }

    /* Juego destacado */
    /* Pagina principal */
}

/* Carousel */
.carousel a {
    text-decoration: none;
}

.carousel_categorias {
    width: 100%;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

@media(min-width:768px) {
    .carousel_categorias {
        margin: 0px 60px;
    }
}

.carousel_categorias h2 {
    margin-top: 20px;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 15px;
    opacity: .9;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: rgba(255, 255, 255, 35%);
}

.carousel_list {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}

.carousel_track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

.carousel {
    position: relative;
    width: 210px;
    padding: 0px 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}


.carousel a img {
    object-fit: cover;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
}

@media(min-width:768px) {
    .carousel {
        width: 275px;
    }

    .carousel a img {
        width: 250px;
    }
}

.carrusel-arrow {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 35%);
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.carrusel-arrow:focus {
    outline: 0;
}

.carrusel-arrow svg {
    width: 12px;
    height: 100%;
    color: rgba(0, 0, 0, 0.7);
}

.carrusel-prev {
    left: 0px;
}

.carrusel-next {
    right: 0px;
}

/* Carousel */